@import url("https://cdnjs.cloudflare.com/ajax/libs/  normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap");
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/decor/big-leaf.png") right bottom no-repeat;
  background-color: #61C4D9;
  height: 100vh;
  min-height: 650px;
  color: #fff;
  position: relative;
}
.hero:before {
  content: url("../img/decor/corner-leaf.png");
  position: absolute;
  bottom: -40px;
  left: 2%;
}
.hero:after {
  content: url("../img/decor/berries-and-leaves.png");
  position: absolute;
  bottom: -40px;
  right: 0;
}

.hero__title-section {
  width: 46%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 45px;
  background: url("../img/decor/chocolates.png") right center/50% auto no-repeat;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 32px;
  padding-right: 15%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: 22px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 46px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 41px;
  margin-right: 12px;
}

.feature__text {
  font-size: 16px;
  max-width: 75px;
  line-height: 1.125;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  padding: 21px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1.1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn--theme--white {
  background: #fff;
  color: #497870;
}
.btn--theme--white:hover {
  color: #fff;
  background: #497870;
}
.btn--theme--green {
  background: #497870;
  color: #fff;
}
.btn--theme--green:hover {
  color: #497870;
  background: #fff;
}
.btn--theme--transparent {
  background: transparent;
  color: #497870;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #000;
}

.section {
  height: 100vh;
  max-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}

.headline {
  text-align: center;
}

.headline__title {
  margin: 100px 0 13px;
}

.headline__subtitle {
  padding: 0 30%;
  margin-bottom: 43px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 114px;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 26px;
  position: relative;
}
.benefits__item:before {
  content: url("../img/decor/separator.png");
  position: absolute;
  top: 30px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 80px;
}
.benefits__item:last-child {
  padding-right: 80px;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 8px;
}

.benefit__icon {
  width: 65px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 27px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 14px;
}

.benefits-section {
  position: relative;
  background: url("../img/decor/side-leaf.png") left top 57% no-repeat;
}
.benefits-section:before {
  content: url("../img/decor/bars-and-berries.png");
  position: absolute;
  bottom: -80px;
  left: 0;
}

.reviews__dysplay {
  background: #F8FAF9;
  padding: 42px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.reviews__dysplay:before {
  content: url("../img/decor/side-raspberry.png");
  position: absolute;
  top: 22px;
  right: 0;
}
.reviews__dysplay:after {
  content: "";
  display: block;
  width: 83px;
  height: 83px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -61px;
}

.reviews__dysplay-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px;
}

.reviews__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 12px;
  color: black;
}

.reviews__text {
  margin-bottom: 25px;
  margin-right: 100px;
}

.reviews__author {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-section {
  position: relative;
  background: url("../img/decor/strawberry.png") top 42px right 21px no-repeat;
  z-index: 1;
}
.reviews-section:before {
  content: url("../img/decor/side-leaf-2.png");
  position: absolute;
  bottom: -157px;
}
.reviews-section:after {
  content: url("../img/decor/strawberry-and-berries.png");
  position: absolute;
  bottom: -86px;
  left: 1px;
}

.reviews-section .section__title {
  margin: 62px 0 32px;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #365A49;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  position: relative;
  background-image: url("../img/decor/bg-berries.png");
  background-size: cover;
  color: #497870;
}
.order-section:before {
  content: url("../img/decor/blueberry.png");
  position: absolute;
  bottom: 57px;
  left: 41px;
}
.order-section:after {
  content: url("../img/decor/corner-leaf-2.png");
  position: absolute;
  bottom: 46px;
  right: 3px;
}

.order-section .section__title {
  color: #365A49;
  margin: 58px 0 53px;
}

.worktime-section {
  position: relative;
  background: url("../img/decor/worktime-leaf.png") left 97px bottom 68px no-repeat, url("../img/decor/worktime-leaf-2.png") top 81px right 101px no-repeat;
  background-color: #F8FAF9;
}
.worktime-section:before {
  content: url("../img/decor/blackberry.png");
  position: absolute;
  bottom: -111px;
  right: -8px;
  z-index: 1;
}

.worktime-section .section__title {
  margin: 62px 0 30px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 41px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 27px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 18px 68px 20px 12px;
  border-radius: 4px;
  border: solid 3px transparent;
}
.form__input--textarea {
  height: 152px;
  resize: none;
  margin-bottom: 20px;
}
.form__input:focus {
  border-color: #DEE2BD;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 17px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
  margin-bottom: 28px;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icons/tick.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.radio__visible:before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #365A49;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 23px;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 10;
}

.fixed-menu__item {
  margin-bottom: 7px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}