.benefits {
  display: flex;
  margin-bottom: 114px;
}

.benefits__item {
  flex: 1;
  padding: 0 26px;
  position: relative;

  &:before {
    content: url("../img/decor/separator.png");
    position: absolute;
    top: 30px;
    right: 0;
    transform: translateX(50%);
  }

  &:first-child {
    padding-left: 80px;
  }

  &:last-child {
    padding-right: 80px;

    &::before {
      display: none;
    }
  }
}