.headline {
  text-align: center;
}

.headline__title {
  margin: 100px 0 13px;
}

.headline__subtitle {
  padding: 0 30%;
  margin-bottom: 43px;
}

.headline__reviews-title {
  margin: 62px 0 54px;
}