.reviews-section {
  position: relative;
  background: url("../img/decor/strawberry.png") top 42px right 21px no-repeat;
  z-index: 1;

  &:before {
    content: url("../img/decor/side-leaf-2.png");
    position: absolute;
    bottom: -157px;    
  }

  &:after {
    content: url("../img/decor/strawberry-and-berries.png");
    position: absolute;
    bottom: -86px;
    left: 1px;
  }
}